In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2022-07-12 01:13:03,62.4560,-114.3525,68.88,57,95,10.63
1,1,Muros,ES,2022-07-12 01:13:03,42.7762,-9.0603,69.55,65,0,6.80
2,2,Cape Town,ZA,2022-07-12 01:12:19,-33.9258,18.4232,54.12,92,25,1.01
3,3,Hilo,US,2022-07-12 01:08:39,19.7297,-155.0900,85.28,68,40,12.66
4,4,Ahipara,NZ,2022-07-12 01:13:04,-35.1667,173.1667,59.58,86,8,18.32

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Hilo,US,2022-07-12 01:08:39,19.7297,-155.0900,85.28,68,40,12.66
9,9,Bonthe,SL,2022-07-12 01:13:06,7.5264,-12.5050,75.87,89,100,7.87
15,15,Butaritari,KI,2022-07-12 01:13:08,3.0707,172.7902,81.63,81,63,17.29
21,21,Albany,US,2022-07-12 01:12:08,42.6001,-73.9662,79.21,60,0,5.53
26,26,Avarua,CK,2022-07-12 01:13:12,-21.2078,-159.7750,77.05,61,100,5.75
30,30,Nyaunglebin,MM,2022-07-12 01:13:14,17.9500,96.7333,75.90,95,100,2.89
32,32,Georgetown,MY,2022-07-12 01:13:14,5.4112,100.3354,78.73,95,40,1.14
33,33,Kapaa,US,2022-07-12 01:12:32,22.0752,-159.3190,85.98,69,40,12.66
42,42,Owase,JP,2022-07-12 01:13:18,34.0667,136.2000,83.68,73,43,3.65
43,43,College,US,2022-07-12 01:13:18,64.8569,-147.8028,76.95,67,100,10.36

In [16]:
preferred_cities_df.count()

City_ID       201
City          201
Country       201
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3          Hilo      US     85.28  19.7297 -155.0900
9        Bonthe      SL     75.87   7.5264  -12.5050
15   Butaritari      KI     81.63   3.0707  172.7902
21       Albany      US     79.21  42.6001  -73.9662
26       Avarua      CK     77.05 -21.2078 -159.7750
30  Nyaunglebin      MM     75.90  17.9500   96.7333
32   Georgetown      MY     78.73   5.4112  100.3354
33        Kapaa      US     85.98  22.0752 -159.3190
42        Owase      JP     83.68  34.0667  136.2000
43      College      US     76.95  64.8569 -147.8028

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Hilo,US,85.28,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Bonthe,SL,75.87,7.5264,-12.5050,Bonthe Holiday Village
15,Butaritari,KI,81.63,3.0707,172.7902,Isles Sunset Lodge
21,Albany,US,79.21,42.6001,-73.9662,
26,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
30,Nyaunglebin,MM,75.90,17.9500,96.7333,Thi ha
32,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang
33,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
42,Owase,JP,83.68,34.0667,136.2000,Business Hotel Phoenix
43,College,US,76.95,64.8569,-147.8028,Pike's Waterfront Lodge

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))